<httpPlatform
           stdoutLogEnabled="true"
           stdoutLogFile=".\node.log"
           startupTimeLimit="20"
           processPath="D:\Program Files (x86)\nodejs\10.6.0\node.exe"
           arguments="bin\app.js">
            <environmentVariables>
                <!-- environment variables if you have any -->
            </environmentVariables>           
</httpPlatform>